body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error {
  font-size: 10px;
  line-height: 15px;
  color: #cc0033;
  padding: 2px;
  margin: 20px 0px 0px 0px;
  position: absolute;
}

.accept{
  margin: 20px 0px 0px -83px;
}

.errors .error {
  display: inline-block;
}

.forminput{
  display: inline-block;
}
